@page
@model RideServiceGroup1.Web.Pages.AddRideModel
@using RideServiceGroup1.Entities
@using RideServiceGroup1.Entities.Utility
@{
    ViewData["Title"] = "AddRide";
}

<div class="report-bar">
    <article>
        <form method="post">
            @Html.AntiForgeryToken()
            <!-- Write name -->
            <label for="Name">Navn:</label>
            <input type="text" name="Name" placeholder="Skriv navn på forlystelse" autofocus /><br />
            <!-- Description -->
            <label for="Description">Navn:</label>
            <input type="text" name="Description" placeholder="Skriv beskrivelse"/><br />
            <!-- Category -->
            <label for="SelectedCategoryId">Kategori:</label>
            <select name="SelectedCategoryId">
                @{
                    foreach (RideCategory cat in Model.Category)
                    {
                        <option value="@cat.Id">@cat.Name</option>
                    }
                }
            </select><br />
            <input type="submit" value="Skab raport" />
        </form>
    </article>
</div>
