@page
@model RideServiceGroup1.Web.Pages.CategoriesModel
@using RideServiceGroup1.Entities;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Kategorier";
    Layout = "~/Pages/Shared/_Layout.cshtml";

}

<h2>Kategorier</h2>
<div class="forms">
<form method="post">
    
    @Html.AntiForgeryToken()
    <label asp-for="CategoryName"></label>
    <input asp-for="CategoryName" /><br />

    <label asp-for="CategoryDescription"></label>
    <input asp-for="CategoryDescription" /><br />

    <input type="submit" />
</form>

<form method="get">
    <label asp-for="SearchInput"></label>
    <input asp-for="SearchInput" /><br />

    <input type="submit" />
</form>
</div>
<div class="categoryWrapper">
    @foreach (RideCategory rideCategory in Model.Categories)
    {
        <a href="#">
            <h3>@rideCategory.Name</h3>
            <p>@rideCategory.Description</p>
        </a>
    }
</div>