/* Variabler */
body {
    margin: 0;
    background-color: #202020;
}

/* Typografi */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: white;
}

h3 {
    font-size: 3rem;
    font-weight: 300;
}

h4 {
    font-size: 1.6rem;
}

p {
    color: white;
}

p, a {
    font-family: 'Roboto Slab', serif;
}

/* Hero */
.hero {
    background-image: url("../img/hero.jpg");
    background-size: cover;
    background-position: center center;
    width: 100vw;
    max-width: 100%;
    height: 400px;
}

    .hero header {
        display: flex;
        justify-content: space-between;
        background: rgba(255, 255, 255, 0.5);
    }

        .hero header img {
            position: relative;
            top: 60px;
            left: 60px;
        }

        .hero header .navbar {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

            .hero header .navbar nav ul {
                display: flex;
                padding: 0;
                list-style: none;
            }

                .hero header .navbar nav ul li {
                    padding: 0 3vw;
                    font-weight: bold;
                }

                    .hero header .navbar nav ul li a {
                        color: black;
                        text-decoration: none;
                    }


form{
    margin: 20px;
}
form label {
    width: 90px;
    display: inline-block;
    color: white;
    padding: 5px 0;
    box-sizing: border-box;
    margin: 2px 0;
    margin-right: -4px;
}
form input[type=text], select, input[type=datetime]{
    width: 210px;
    border: none;
    padding: 5px 2px;
    box-sizing: border-box;
}

    form input[type=submit] {
        background-color: #64963c;
        width: 300px;
        border: none;
        padding: 5px;
        margin-top: 5px;
    }

section h1 {
    font-size: 3rem;
    color: white;
}

section .wrapper {
    display: flex;
}


    section .wrapper article {
        padding: 2%;
        width: 96%;
    }

        section .wrapper article .rideWrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 5px;
            padding-bottom: 20px;
        }

            section .wrapper article .rideWrapper a {
                margin: 30px;
                text-decoration: none;
            }

                section .wrapper article .rideWrapper a .rides {
                    width: 400px;
                }


                    section .wrapper article .rideWrapper a .rides i {
                        padding: 0 10px;
                    }

                        section .wrapper article .rideWrapper a .rides .working {
                            color: limegreen;
                        }

                        section .wrapper article .rideWrapper a .rides .broken {
                            color: red;
                        }

                        section .wrapper article .rideWrapper a .rides .beingRepaired {
                            color: orange;
                        }

                    section .wrapper article .rideWrapper a .rides img {
                        height: 400px;
                    }

        section .wrapper article .detailWrapper {
            display: flex;
        }

            section .wrapper article .detailWrapper img {
                width: 200px;
                align-self: flex-start;
                padding-right: 50px;
            }

        section .wrapper article .reportWrapper {
            background: #404040;
            border-radius: 20px;
        }

            section .wrapper article .reportWrapper .report {
                padding: 20px;
            }

                section .wrapper article .reportWrapper .report p {
                    color: white;
    
                    }
.forms{
    display: flex;
    justify-content: space-between;
}
.categoryWrapper {
    display: flex;
    margin: 5vw;
    flex-wrap: wrap;
}
.categoryWrapper a{
    width: 30%;
    margin: 1%;
    background: #404040;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    transition: ease .3s;
}
.categoryWrapper a:hover{
    transform: scale(1.08);
}
.categoryWrapper a h3 {
    margin: 20px;
}

@media screen and (max-width: 900px) {
    .classic .wrapper {
        flex-wrap: wrap;
    }

        .classic .wrapper article {
            width: 48%;
        }
}

h4 a {
    color: white;
}

/*# sourceMappingURL=style.css.map */
